<div class="page-container">
  <div class="text-center">
    <h2>Congratulations!</h2>
      You’re 50% of the way to becoming a true digital zfrank fan.<br>
      Make it 100% by clicking the links below.
  </div>

  <div class="social-link">
    <%= image_tag(
      'down_arrow.gif',
      class: 'w-25'
    ) %>
  </div>
</div>
