<div>
  <%= image_tag(
    'zfrank-logo.png',
    class: 'epk-image',
    alt: 'zfrank logo'
  ) %>

  <div class="bio">
    <div class="quote">"Don't Let Me Down was killer! It was like The Beatles' rooftop show!"<br>
      - Trey Lyons (of LYON$) on a zfrank performance
    </div>
    <div class="quote">
      "Insane music !!"<br>
      "Hey where can I find this song?"<br>
      - Strangers on Instagram
    </div>
    Known as "little z" growing up, the namesake of his grandfather Zollie and the Chevy dealership Zollie started in 1936 ("Z" Frank Chevrolet), Zack Frank was not so interested in following the path laid out in front of him to join the family business but was driven to explore the magnetic pull he felt from music and pursuing his prowess in writing clever lyrics and catchy tunes.<br><br>
    In his post-collegiate years, he left Chicago and shape-shifted across the music scene in Los Angeles, playing in an instrumental funk band called Hot Neighbor, backing up a dreamy folk-pop artist named Steffaloo, and supporting half a dozen others, all while quietly writing his own songs in his bedroom.<br><br>
    Since heeding the siren's call and returning to his hometown of Chicago, Zack has adopted his grandfather's pioneering spirit and committed to embracing his own voice and sharing it with the world.<br><br>
    That voice is zfrank, an early-aughts-pop-influenced sometimes-acoustic, sometimes-electric outfit with detectible influences from Jason Mraz, Jack Johnson, John Mayer, and, going a bit further back, Tom Petty and The Beatles. But despite any hint of homage unintentionally paid to these figures, zfrank is a sound all its own, and it hits just right.

    <div class="epk-section">
      <h3>Press</h3>
      <%= link_to(
        "Chicago Sun Times",
        "https://chicago.suntimes.com/business/2021/7/13/22575941/chicago-auto-show-mccormick-place-car-showcase-street-fair-convention-calendar-kickoff",
        target: :_blank
      ) %>
    </div>
  </div>
</div>
