<div>
  <%= image_tag(
    'zfrank-logo.png',
    class: 'epk-image',
    alt: 'zfrank logo'
  ) %>

  <div class="bio">
    <div class="quote">"Don't Let Me Down was killer! It was like The Beatles' rooftop show!"<br>
      - Trey Lyons (of LYON$) on a zfrank performance
    </div>
    <div class="quote">
      "Insane music !!"<br>
      "Hey where can I find this song?"<br>
      - Strangers on Instagram
    </div>
    Known as "little z" growing up, the namesake of his grandfather, Zollie, and the Chevy dealership he started in 1936 ("Z" Frank Chevrolet), Zack Frank was not so interested in following the path laid out in front of him to join the family business but was driven towards exploring the magnetic pull he felt from music and pursuing his prowess in writing clever lyrics and catchy tunes. In his post-collegiate years, he relocated and shape-shifted across the music scene in Los Angeles, playing in an instrumental funk band called Hot Neighbor, backing up a dreamy folk-pop artist named Steffaloo, and supporting half a dozen others, all while quietly writing his own songs in his bedroom. Since heeding the siren's call of Chicago and returning to his hometown, Zack has adopted his grandfather's pioneering spirit and committed to embracing his own voice and sharing it with the world. That voice is zfrank.

    <div class="epk-section">
      <h3>Press</h3>
      <%= link_to(
        "zfrank at the Chicago Auto Show 2021 - Chicago Sun Times",
        "https://chicago.suntimes.com/business/2021/7/13/22575941/chicago-auto-show-mccormick-place-car-showcase-street-fair-convention-calendar-kickoff",
        target: :_blank
      ) %>
    </div>
  </div>
</div>
