<footer>
  <%= link_to image_tag(
      'instagram_icon.png',
      alt: 'Instagram icon',
      class: 'social-icon'
    ),
    'https://www.instagram.com/accounts/login/?next=%2Fthezfrank%2F&source=follow',
    class: 'social-link',
    target: :_blank
  %>

  <div class="text-center mb-3">
    <a
      href="https://twitter.com/thezfrank?ref_src=twsrc%5Etfw"
      class="twitter-follow-button"
      data-show-count="false">Follow @thezfrank
    </a>
  </div>

  <div
    class="fb-like social-link social-icon"
    data-href="https://www.facebook.com/thezfrank"
    data-width=""
    data-layout="standard"
    data-action="like"
    data-size="small"
    data-share="true"
  ></div>

  <div class="text-center mb-3 mt-5">
    <%= link_to "Contact", 'mailto: management@zfrank.com' %> &#8226;
    <%= link_to "Privacy", 'p/privacy' %>
  </div>
</footer>