<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head'%>
  </head>

  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0" nonce="DehXvfsn"></script>
    <script async src="https://platform.twitter.com/widgets.js"charset="utf-8"></script>

    <%= render 'layouts/header' %>

    <div class="container">
      <main>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </main>
    </div>
  </body>
</html>
